.game-field {
  background: $white;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 'top-left top-center top-rightt'
'middle-left middle-center middle-right'
'bottom-left bottom-center bottom-right';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 0.5rem;
  position: relative;


  .symbol {
    height: 80px;
    width: 80px;
    display: none;
    &.active {
      display: block;
      background: $white-hover;
      &:hover {
        border: $white;
      }
    }
  }
}

.field-square {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.highlight {
    background: $yellow;
  }

  &:hover {
    cursor: pointer;

  }
&.preview-1 {
  &:hover {
    .racoon {
      display: block;
      background: $white-hover;
      border: 2px solid $yellow;
    }
  }
}

  &.preview-2 {
    &:hover {
      .husky {
        display: block;
        background: $white-hover;
        border: 2px solid $yellow;
      }

    }
  }
}


.top-left {
  grid-area: top-left;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
  border-radius: 8px 0 0 0 ;
}

.top-center {
  grid-area: top-center;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
}

.top-rightt {
  grid-area: top-rightt;
  border-bottom: 2px solid $white-hover;
  border-radius: 0 8px 0 0 ;
}

.middle-left {
  grid-area: middle-left;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
}

.middle-center {
  grid-area: middle-center;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
}

.middle-right {
  grid-area: middle-right;
  border-bottom: 2px solid $white-hover;
}

.bottom-left {
  grid-area: bottom-left;
  border-right: 2px solid $white-hover;
  border-radius: 0 0 0 8px;
}

.bottom-center {
  grid-area: bottom-center;
  border-right: 2px solid $white-hover;
}

.bottom-right {
  grid-area: bottom-right;
}

.game-history {
  display: flex;
  gap: 0.8rem;
  overflow-y: auto;

  .game-field {
    max-width: 150px;
    max-height: 150px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;

    .symbol {
      height: 35px;
      width: 35px;

      &:hover{
        cursor: auto;
        border: 3px solid $white;
      }
    }

    .field-square {
      height: 50px;

      &:hover {
        cursor: auto;
      }
    }
    a {
      cursor: auto;
    }
  }
}