.game-field {
  background: $white;
  box-shadow: 2px 7px 8px 3px $primary-shadow;
  border-radius: 8px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: 'grid-1 grid-2 grid-3'
'grid-4 grid-5 grid-6'
'grid-7 grid-8 grid-9';
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 1.5rem;


  .symbol {
    height: 80px;
    width: 80px;
    display: none;
    &.active {
      display: block;
      background: $white-hover;
      &:hover {
        border: $white;
      }
    }
  }
}

.field-square {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.highlight {
    background: $yellow;
    border-radius: 4px;
  }

  &:hover {
    cursor: pointer;

  }
&.preview-1 {
  &:hover {
    .racoon {
      display: block;
      background: $white-hover;
      border: 2px solid $yellow;
    }
  }
}

  &.preview-2 {
    &:hover {
      .husky {
        display: block;
        background: $white-hover;
        border: 2px solid $yellow;
      }

    }
  }
}



.grid-1 {
  grid-area: grid-1;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
}

.grid-2 {
  grid-area: grid-2;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
}

.grid-3 {
  grid-area: grid-3;
  border-bottom: 2px solid $white-hover;
}

.grid-4 {
  grid-area: grid-4;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
}

.grid-5 {
  grid-area: grid-5;
  border-right: 2px solid $white-hover;
  border-bottom: 2px solid $white-hover;
}

.grid-6 {
  grid-area: grid-6;
  border-bottom: 2px solid $white-hover;
}

.grid-7 {
  grid-area: grid-7;
  border-right: 2px solid $white-hover;
}

.grid-8 {
  grid-area: grid-8;
  border-right: 2px solid $white-hover;
}

.grid-9 {
  grid-area: grid-9;
}

.game-history {
  display: flex;
  gap: 0.8rem;
  overflow-y: auto;

  .game-field {
    max-width: 150px;
    max-height: 150px;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    box-shadow: 0 6px 5px 1px $primary-shadow;

    .symbol {
      height: 35px;
      width: 35px;
    }

    .field-square {
      height: 50px;

      &:hover {
        cursor: auto;
      }
    }
  }
}