.logo {
  max-width: 140px;
}

.logo-big {
  max-width: 250px;
}

.avatar {
  border-radius: 50%;
  background: $white;

  &.small {
    height: 48px;
    width: 48px;
    border: 2px solid $white;
  }

  &.difficulty-level {
    height: 100px;
    width: 100px;
    border: 1px solid $white;

    &:hover {
      opacity: 0.7;
      cursor: pointer;
    }
  }

  &.player {
    height: 100px;
    width: 100px;
    border: 2px solid $white;

    &.active {
      border: 4px solid $yellow;
    }

    &.inactive {
      opacity: 0.7;
    }
  }

  &.winner {
    width: 165px;
    height: 165px;
    border: 6px solid $yellow;
  }
}

.symbol {
  width: 60px;
  background: $white;
  padding: 4px;
  border-radius: 50%;
  border: 3px solid $white;


  &:hover {
    cursor: pointer;
    border-color: $yellow;
  }

  &.indicator {
  position: absolute;
    width: 55px;
    top: -15px;
    right: -16px;

  &.active {
    border: 3px solid $yellow;
  }

  }

}