$primary: #8d78c7;
$primary-border: #6E42A5;
$primary-hover: #7967aa;
$primary-shadow: #7967aa;
$white-hover: #EAEAEA;
$white: #FFFFFF;
$off-white: #F0f0f0;
$black: #2B2B2B;
$background: #0c0c0c;
$elevate: #3e3e3e;
$border: #585858;
$green: #A8D46A;
$pink: #C68AD4;
$yellow: #FFE245;